h1 {
    color: black;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #165351 !important;
}