<div class="container">
    <div *ngIf="frameNumber > 0; else startTitle">
        <h1>Bowling Frame {{frameNumber}}</h1>
    </div>
    <ng-template #startTitle>
        <h1>Welcome to bowling scoring system</h1>
    </ng-template>
    <hr>
    <br><br>
    <div>
        <h4>Register the players and their rolls of the frame, up to 4 players in a game:</h4>
    </div>
    <br>


    <!-- Sumbit new roll form -->
    <form (ngSubmit)="onSubmit()" #rollForm="ngForm">
        <!-- Name input -->
        <div class="form-row">
            <div class="col-xs-4">
                <label>Name</label>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="playerName" name="name">
                </div>
                <div [hidden]="!playerError" class="alert alert-danger">
                    {{playerError}}
                </div>
            </div>
        </div>
        <!-- Score input -->
        <div class="form-row">
            <div class="col-xs-3">
                <label>Score</label>
                <input type="number" class="form-control" [(ngModel)]="playerScore" name="score" min="0" max="10">
                <div [hidden]="+this.playerScore <= 10" class="alert alert-danger">
                    Score cannot be greater than 10
                </div>
                <div [hidden]="+this.playerScore >= 0" class="alert alert-danger">
                    Score cannot be smaller than 0
                </div>
                <div [hidden]="!scoreError" class="alert alert-danger">
                    {{scoreError}}
                </div>
                <div [hidden]="!nextFrameError" class="alert alert-danger">
                    {{nextFrameError}}
                </div>
            </div>
        </div>
        <!-- Form "submit", "clear" and "next frame" buttons -->
        <div class="form-row">
            <div class="col-xs-5" style="padding-top: 2.15%;">
                <button type="submit" class="btn btn-primary"
                    [disabled]="!this.playerName || !this.playerScore || +this.playerScore > 10 || +this.playerScore < 0">Submit</button>
                &nbsp;
                <button type="button" class="btn btn-default" [disabled]="!playerName && !playerScore"
                    (click)="rollForm.reset(); nextFrameError=''; playerError=''">Clear
                    Form</button>
                &nbsp;
                <button type="button" class="btn btn-primary" [disabled]="nextFrameError || frameNumber === -1"
                    (click)="nextFrame()">
                    Move to the next frame</button>
            </div>
        </div>
    </form>
</div>

<br><br>
<div class="form-log container">{{formLog}}</div>